body
{
    font-family: sans-serif, 'Times New Roman';
   margin: 0;
   padding: 0;
   min-height: 100vh;
    background:linear-gradient(200deg,#1b1b1b, #2f3b2c) ;

}

/*header stuff no text*/

header 
{
    background:linear-gradient(90deg,#1A1F1A, #011F00) ;
    padding: 5px;

}

h1 
{
    color: #6EB659;
}
p
{
    color: #6EB659;
}
ul 
{
    text-align: left;
}

nav ul a:hover
{
    background-color: #011F00;
}
nav ul
{
    list-style-type: lower-greek;
}

nav ul a 
{
    color: #6EB659;
    text-decoration: dotted;
}

main
{
    flex-grow: 1;
    padding: 20px;
}

footer 
{
    text-align: bottom;
    background-color: #1A1F1A;
    color: #447038;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 100%;
}

.photopara1
{
    text-align: left;
    text-size-adjust: 10;
    
}
.photopara2
{
    text-align: left;
}
section
{
    text-align: center;
}

div
{
    text-align: center;
}

form input, form textarea 
{
    margin-bottom: 5px;
    padding: 4px;
}
form button:hover 
{
    background-color: #222222;
}




.Profile-Photo2
{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 20px;
    object-fit: cover;
    border: 2px solid #222222;
}

.content-photo
{
    width: 150px;
    height: 150px;
    
}

.Profile-Photo
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
    object-fit: cover;
    border: 5px solid #222222;
}

video
{
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}